*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.root{
    width: 30rem;
    height: 30rem;
    background-color:rgb(231, 231, 231);
    border-radius:1.5rem;
}

.header{
    width:100%;
    height:20%;
    background-color: aquamarine;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    display:flex;
    align-items:center;
    justify-content:center;
}

.main{
    width:100%;
    height: 80%;
    background-color: aqua;
    border-radius:0rem 0rem 1.5rem 1.5rem;
}